<!DOCTYPE html>
{% load staticfiles %}
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/font.css'%}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css'%}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'lib/layui/layui.js'%}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js'%}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <table class="layui-table">
        <thead>
          <tr>
            <th>proxy_name</th>
            <th>IP</th>
            <th>端口</th>
            <th>项目所属</th>
            <th>负责人</th>
            <th>类型</th>
            <th>操作</th>
        </thead>
        <tbody>
        {% if redisip %}
        {% for redis in redisip %}

          <tr>

            <td>{{ redis.proxy_name }}</td>
            <td>{{ redis.redis_ip }}</td>
            <td>{{ redis.redis_port }}</td>
            <td>{{ redis.project_owner }}</td>
            <td>{{ redis.project_principal }}</td>
            <td>{{ redis.typename }}</td>

            <td>
                <button class="layui-btn  layui-btn-radius layui-btn-normal layui-btn-sm" onclick="x_admin_show('添加缓存','./redis_get?redisip={{ redis.redis_ip }}&redisport={{ redis.redis_port }}')">查 &nbsp;&nbsp; 询</button>
                <button class="layui-btn  layui-btn-radius layui-btn-normal layui-btn-sm" onclick="x_admin_show('添加缓存','./redis_del?redisip={{ redis.redis_ip }}&redisport={{ redis.redis_port }}')">精确删除</button>
                <button class="layui-btn  layui-btn-radius layui-btn-normal layui-btn-sm" onclick="x_admin_show('添加缓存','./matchingdel?redisip={{ redis.redis_ip }}&redisport={{ redis.redis_port }}')">模糊删除</button>
            </td>
           <!--<td class="td-manage">-->
              <!--<a title="编辑"  onclick="x_admin_show('编辑','./redisedit?redisip={{ redis.redis_ip }}')" href="javascript:;">-->
                <!--<i class="layui-icon">&#xe642;</i>-->
              <!--</a>-->
              <!--<a title="删除" onclick="member_del(this,'要删除的id')" href="./redishostdel?rowid={{ redis.id }}">-->
                <!--<i class="layui-icon">&#xe640;</i>-->
              <!--</a>-->
            <!--</td>-->
          </tr>
        {% endfor%}
        {% endif %}
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //
              // var rowid = document.getElementById(rowid).textContent;
              // var host = window.location.host;
              // var urltest = 'http://' + host + '/godzilla/platformconf/redishostdel';
              //
              // $.ajax({
              //     type: "GET",
              //     url: urltest,
              //     datatype: "json",
              //     data: rowid,
              //     success: function (data) {
              //         layer.alert(data, {icon: 6}, function () {
              //             // 获得frame索引
              //             var index = parent.layer.getFrameIndex(window.name);
              //             //关闭当前frame
              //             parent.layer.close(index);
              //         });
              //     },
              //     error: function (data) {
              //         layer.alert(data, {icon: 6}, function () {
              //             // 获得frame索引
              //             var index = parent.layer.getFrameIndex(window.name);
              //             //关闭当前frame
              //             parent.layer.close(index);
              //         });
              //     }
              // });

              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
  </body>

</html>