<!DOCTYPE html>
{% load staticfiles %}
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/font.css'%}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css'%}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'lib/layui/layui.js'%}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js'%}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">

      <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加tengine主机','./compile_config_add')"><i class="layui-icon"></i>添加</button>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>名称</th>
            <th>路径</th>
        </thead>
        <tbody>
        <tr>
          <td>jdk,maven</td>
          <td></td>
          <td></td>
        </tr>


        {% if result %}
        {% for results in result %}

          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{ results.varname }}</td>
            <td>{{ results.varpath }}</td>
           <td class="td-manage">
             <a title="编辑"  onclick="x_admin_show('编辑','./compile_config_update?varnameid={{ results.varnameid }}')" href="javascript:;">
             <i class="layui-icon">&#xe628;<i>

              <a title="删除" onclick="member_del(this,{{ results.varnameid }})">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        {% endfor%}
        {% endif %}
        </tbody>
      </table>

    </div>
    <script>


      /*用户-删除*/
      function member_del(obj, id) {
          layer.confirm('确认要删除吗？', function (index) {

              var hostip = id;
              var host = window.location.host;
              var urltest = 'http://' + host + '/godzilla/platformconf/tenginehostdel?hostip=' + hostip;

              $.ajax({
                  type: "GET",
                  url: urltest,
                  datatype: "json",
                  // data:phone,
                  success: function (data) {
                      layer.msg(data, {icon: 6}, function () {
                          // 获得frame索引
                          $(obj).parents("tr").remove();
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);

                      });


                  },
                  error: function (data) {
                      layer.alert(data, {icon: 6}, function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                      });
                  }

              });
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
  </body>

</html>