<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/font.css'%}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css'%}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'lib/layui/layui.js'%}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js'%}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <div class="layui-form">
          <div class="layui-form-item">
              <label  class="layui-form-label">
                  <span class="x-red">*</span>有效时长
              </label>
              <div class="layui-input-block">
                  <input type="radio"  name="duration"  value="3600"   title="1小时"/>
                  <input type="radio" name="duration"  value="7200"  title="2小时"/>
                  <input type="radio" name="duration" value="10800"  title="4小时"/>
                  <input type="radio" name="duration"  value="21600"  title="6小时"/>
                  <input type="radio" name="duration"  value="43200"  title="12小时"/>
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">
                  <span class="x-red">*</span>手机号码
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="phone" name="phone" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label  class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="" onclick="grayadd()">
                  增加
              </button>
          </div>
        </div>
    </div>
    <script>


        function grayadd() {
            var params = [];
            var duration = $("input[name='duration']:checked").val();
            var phone = document.getElementById("phone").value;

            var phonegray = {"duration":duration,"phone":phone};
            params.push(phonegray);
            var phoneinfo = JSON.stringify(params);
            var host = window.location.host;
            var urltest = 'http://' + host + '/godzilla/cachemanager/grayadd';

           $.ajax({
               type:"POST",
               url:urltest,
               datatype:"json",
               data:phoneinfo,
               success: function (data) {
                     layer.alert(data, {icon: 6},function () {
                         // 获得frame索引
                         var index = parent.layer.getFrameIndex(window.name);
                         //关闭当前frame
                         parent.layer.close(index);

                     });


               },
                error: function (data) {
                    layer.alert(data, {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }

           });
        }


    </script>

  </body>

</html>