
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .order {
            height: 80%;
            line-height: 60px;
            text-align: left;
        }
        .order .line {
            display: inline-block;
            width: 500px;
            border-top: 1px solid #ccc ;
        }
        .order .txt {
            color: #686868;
            vertical-align: -4px;
        }
    </style>
</head>
<body>
    <div class="order">
        <span class="line"></span>
        <span class="txt">产品清单</span>
        <span class="line"></span>
    </div>
</body>
</html>